@import url("https://use.typekit.net/uhq3nod.css");

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(103, 214, 255);
  margin: 10px 5px 0 0;
  font-family: input-mono, monospace;
  font-weight: 400;
  font-style: normal;

  height: 130px;
  line-height: 1px;
}

.btn {
  font-family: input-mono, monospace;
  font-weight: 400;
  font-style: normal;
}
